@if (showSuccessModal()) {
  <div class="modal-backdrop" (click)="closeSuccessModal()">
    <div class="modal-box modal-box--success" (click)="$event.stopPropagation()">
      <h3>Registration Successful!</h3>
      <p>Your account has been created. You can now log in.</p>
      <button matButton="filled" (click)="closeSuccessModal()">Go to Login</button>
    </div>
  </div>
}

@if (showErrorModal()) {
  <div class="modal-backdrop" (click)="closeErrorModal()">
    <div class="modal-box" (click)="$event.stopPropagation()">
      <h3>Error</h3>
      <p>{{ errorMessage() }}</p>
      <button matButton="filled" (click)="closeErrorModal()">Close</button>
    </div>
  </div>
}

<div [formGroup]="registerForm">
    <div class="row">
        <div class="col-12 center-items">
            <div class="col-6">
                <h1 class="">Register</h1>
                <div class="row mt-5 ">
                    <mat-form-field appearance="fill">
                        <mat-label>UserName</mat-label>
                        <input formControlName="username" matInput>
                    </mat-form-field>
                </div>
                <div class="row ">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input [type]="'password'" formControlName="password" matInput>
                    </mat-form-field>
                </div>
                <div class="row ">
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input [type]="'password'" formControlName="confirmPassword" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-6 left-items">
                <div class="row">
                    <div class="col-12 mt-2">
                        <button matButton="filled" (click)="onSubmit()">Register</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <button matButton="filled" (click)="backToLogin()">Back to Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>